#app-header header {
    padding: 0;
    margin: 0;
    height: auto;
}

#app-header .header-row {
    padding: 10px 0;
    height: 65px;
}

#app-header .col-title, #app-header .col-center-navbar, #app-header .col-right-navbar {
    height: 100%;
    line-height: 40px;
}

#app-header .col-title img {
    display: inline;
    vertical-align: middle;
    height: 100%;
    width: auto;
    margin: auto;
}

#app-header .col-title .site-name {
    display: inline;
    vertical-align: middle;
}

#app-header .col-center-navbar {
    margin: 0;
    padding: 0;
    text-align: center;
}


#app-header ul.my-navbar li {
    display: inline;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#app-header ul.my-navbar a {
    vertical-align: middle;
    padding: 0 14px;
    overflow-y: visible;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-top: 3px solid transparent;
}

#app-header ul.my-navbar a.active {
    color: #CC0000;;
    border-top: 3px solid black;
    outline: 3px;
}

#app-header ul.my-navbar a:hover {
    color: chocolate;
    border-top: 3px solid black;
    outline: 3px;
}

#app-header .col-right-navbar > ul.my-navbar {
    text-align: right;
    float: right;
}

#app-header .col-right-navbar > ul.my-navbar a {
    border: 1px solid black;
    padding-top: 2px;
}

#app-header .header-divider {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

#app-header .col-right-navbar ul ul
{
    display: none;
    position: absolute;
    top: 44px;
    margin: 0;
    padding: 0;
    right: 15px;
    background-color: white;
    z-index: 200;
    width: 180px;
}

#app-header .col-right-navbar ul ul li
{
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    float:none;
    width: 100%;
}

#app-header .col-right-navbar ul ul a
{
    width: 100%;
    margin: 0 0;
    padding: 0 15px !important;
}

#app-header .col-right-navbar ul ul ul
{
    top:0;
    left:100%
}

#app-header #my-profile-link {
    width: 180px;
    text-align: center;
}

#app-header .col-right-navbar ul li:hover > ul
{
    display:block
}

#app-header .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    opacity: 0.9;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#app-header .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    overflow-x: hidden;
    white-space: nowrap;
}

#app-header .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#app-header .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.toggle-navbar {
    position: absolute;
    right: 10px;
    margin: 0;
    top: 0;
    padding: 0;
    font-size:30px;
    cursor:pointer;
    z-index: 5;
    line-height: 65px;
    display: none;
}
@media (max-width: 992px) {
    #app-header .col-right-navbar, #app-header .col-center-navbar {
        display:none;
    }

    #app-header .toggle-navbar {
        display: block;
    }
}


