.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
}

.useravatar {
    height: 50px;
    width: 50px;
    max-width: 100%;
    margin: auto;
    border-radius: 100%;
    border: 1px double gray;
}

.userRow {
    margin-bottom: 10px;
    margin-top: 5px;
}

.username {
    margin-bottom: 0;
}

.col-useravatar {
    text-align: right;
}

@media (min-width: 992px) {

    .useravatar {
        height: 75px;
        width: 75px;
    }

    .username {
        font-size: 1.8em;
    }

    .userinfo {
        font-size: 1.4em;
    }
}