.myloader {
    position: fixed;
    left: 50%;
    top: 45vh;
    margin-top:-50px;
    margin-left:-50px;
}

.wrap {
    position:absolute;
    width:100px;
    height:100px;
    float:left;

    -webkit-animation-name: rotateThis;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;

    -moz-transform:scale(0.3);
    -o-transform:scale(0.3);
}

.wrap div
{
    width:10px;
    height:30px;
    background:#000;
    position:absolute;
    top:35px;
    left:45px;

    border-radius: 50px;
    -moz-border-radius-bottomleft:50px;
    -moz-border-radius-bottomright:50px;
    -moz-border-radius-topleft:50px;
    -moz-border-radius-topright:50px;
}

@-webkit-keyframes rotateThis {
    from { -webkit-transform:scale(0.3) rotate(0deg); }
    to 	 { -webkit-transform:scale(0.3) rotate(360deg); }
}


.bar1 {
    -o-transform:rotate(0deg) translate(0, -40px);opacity:0.1;
    -moz-transform:rotate(0deg) translate(0, -40px);opacity:0.1;
    -webkit-transform:rotate(0deg) translate(0, -40px);opacity:0.1;
}
.bar2 {
    -o-transform:rotate(36deg) translate(0, -40px);opacity:0.2;
    -moz-transform:rotate(36deg) translate(0, -40px);opacity:0.2;
    -webkit-transform:rotate(36deg) translate(0, -40px);opacity:0.2;
}
.bar3 {
    -o-transform:rotate(72deg) translate(0, -40px);opacity:0.3;
    -moz-transform:rotate(72deg) translate(0, -40px);opacity:0.3;
    -webkit-transform:rotate(72deg) translate(0, -40px);opacity:0.3;
}
.bar4 {
    -o-transform:rotate(108deg) translate(0, -40px);opacity:0.4;
    -moz-transform:rotate(108deg) translate(0, -40px);opacity:0.4;
    -webkit-transform:rotate(108deg) translate(0, -40px);opacity:0.4;
}
.bar5 {
    -o-transform:rotate(144deg) translate(0, -40px);opacity:0.5;
    -moz-transform:rotate(144deg) translate(0, -40px);opacity:0.5;
    -webkit-transform:rotate(144deg) translate(0, -40px);opacity:0.5;
}
.bar6 {
    -o-transform:rotate(180deg) translate(0, -40px);opacity:0.6;
    -moz-transform:rotate(180deg) translate(0, -40px);opacity:0.6;
    -webkit-transform:rotate(180deg) translate(0, -40px);opacity:0.6;
}
.bar7 {
    -o-transform:rotate(216deg) translate(0, -40px);opacity:0.7;
    -moz-transform:rotate(216deg) translate(0, -40px);opacity:0.7;
    -webkit-transform:rotate(216deg) translate(0, -40px);opacity:0.7;
}
.bar8 {
    -o-transform:rotate(252deg) translate(0, -40px);opacity:0.8;
    -moz-transform:rotate(252deg) translate(0, -40px);opacity:0.8;
    -webkit-transform:rotate(252deg) translate(0, -40px);opacity:0.8;
}
.bar9 {
    -o-transform:rotate(288deg) translate(0, -40px);opacity:0.9;
    -moz-transform:rotate(288deg) translate(0, -40px);opacity:0.9;
    -webkit-transform:rotate(288deg) translate(0, -40px);opacity:0.9;
}
.bar10 {
    -o-transform:rotate(324deg) translate(0, -40px);opacity:1;
    -moz-transform:rotate(324deg) translate(0, -40px);opacity:1;
    -webkit-transform:rotate(324deg) translate(0, -40px);opacity:1;
}