body, html {
    font-family: 'PT Sans Caption', sans-serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
}

a, a:visited, a:hover, a:link {
    text-decoration: none;
    color: inherit;
}

.page-title {
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
}

input.ng-touched.ng-invalid {
    border-color: red !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(204, 0, 0, 0.65) !important;;
    outline: 0 none !important;;
}

iframe {
    border: none !important;
    width: 100%;

}
