#welcome-container {
    margin: 0;
    padding: 0;
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

#welcome-container header {
    padding: 10px 10px;
    background-color: #000000;
    opacity: 0.85;
    color:  white;

}

#welcome-container img {
    vertical-align: middle;
}

#welcome-container .logo {
    height: 40px;
    width: auto;
    vertical-align: middle;
}

#welcome-container .site-name {
    display: inline;
    vertical-align: middle;
    color: #CC0000;
}


#welcome-container img.share-button {
    height: 30px;
    padding: 0 2px;
}

#welcome-container .share-buttons-column {
    text-align: right;
    padding-top: 5px;
}

@media only screen and (max-width: 992px) {
    #welcome-container .share-buttons-column, #welcome-container .title-column {
        text-align: center;
        margin-bottom: 10px;
    }
}


#auth-box {
    margin-top: 120px;
}

#welcome-container .input-group {
    margin-bottom: 15px;
}

#welcome-container .col-sign-in:hover, .col-sign-up:hover {
    cursor: pointer;
}

#welcome-container .panel {
    background-color: #000000;
    color: white;
    opacity: 0.8;
}

#welcome-container .panel-info > .panel-heading {
    background-color: chocolate;;
    color: white;
}

#welcome-container .site-definition {
    font-size: 48px;
    color:  white;
    text-transform: uppercase;
    font-weight: bold;
    position:absolute;
    bottom: 0;
    right: 0;
    padding-top: 0;
    padding-right: 50px
}

#welcome-container .col-site-definition {
    min-height: 80vh;
    text-align: right;
}

@media only screen and (max-width: 992px) {
    #welcome-container .site-definition {
        position: relative;
        font-size: 33px;
        overflow: hidden;
        padding: 10px 0 0;
    }

    #welcome-container .col-site-definition {
        min-height: inherit;
        text-align: center;
        padding: 0;
    }

    #auth-box {
        margin-top: 20px;
    }
}