<ng-include src="'/my-app/templates/header.html'"></ng-include>
<div class="container">
    <div class="row page-title">
        <h2><span class="glyphicon glyphicon-gift"></span> Подарунки</h2>
    </div>
</div>
<iframe src="{{ '/pages/gifts?token=' + getToken() }}" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>