<div class="container" id="app-header">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a ui-sref="people" ui-sref-active="active"><i class="glyphicon glyphicon-search"></i> Знайомства</a>
        <a ui-sref="likes" ui-sref-active="active"><i class="glyphicon glyphicon-heart-empty"></i> Симпатії</a>
        <a ui-sref="meetings" ui-sref-active="active"><i class="glyphicon glyphicon-map-marker"></i> Зустрічі</a>
        <a ui-sref="gifts" ui-sref-active="active"><i class="glyphicon glyphicon-gift"></i> Подарунки</a>
        <a ui-sref="profile" ui-sref-active="active"><i class="glyphicon glyphicon-list-alt"></i> Анкета</a>
        <a ui-sref="settings" ui-sref-active="active"><i class="glyphicon glyphicon-cog"></i> Фотоальбом</a>
        <a  style="cursor: pointer" ng-click="onLogout()"><i class="glyphicon glyphicon-off"></i> Вийти</a>
    </div>
    <div class="toggle-navbar" onclick="toggleNav()">&#9776</div>
    <div class="row header-row">
        <div class="col-md-3 col-xs-12 col-title">
            <img class="logo" src="/images/logo.png">
            <h1 class="site-name">eDates</h1>
        </div>
        <div class="col-md-6 col-xs-12 col-center-navbar">
            <ul class="my-navbar">
                <li><a ui-sref="people" ui-sref-active="active">Знайомства</a></li>
                <li><a ui-sref="likes" ui-sref-active="active">Симпатії</a></li>
                <li><a ui-sref="meetings" ui-sref-active="active">Зустрічі</a></li>
                <li><a ui-sref="gifts" ui-sref-active="active">Подарунки</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-right-navbar" id="menu">
                <ul class="my-navbar">
                    <li><a style="cursor: pointer" id="my-profile-link">Мій профіль</a>
                        <ul>
                            <li><a style="cursor: pointer"  ui-sref="profile" ui-sref-active="active"><i class="glyphicon glyphicon-list-alt"></i> Анкета</a></li>
                            <li><a style="cursor: pointer" ui-sref="settings" ui-sref-active="active"><i class="glyphicon glyphicon-cog"></i> Фотоальбом</a></li>
                            <li><a style="cursor: pointer" ng-click="onLogout()"><i class="glyphicon glyphicon-off"></i> Вийти</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="header-divider"></div>
    </div>
</div>
