<ng-include src="'/my-app/templates/header.html'"></ng-include>
<div class="container" ng-controller="likesController" cg-busy="myPromise">
    <div class="row page-title">
        <h2><i class="glyphicon glyphicon-heart-empty"></i> Симпатії</h2>
    </div>
    <ul class="nav nav-tabs">
        <li ng-class="nowLikesIsMutual ? ''  :'active'" ng-click="switchLikes(false)"><a>Усі</a></li>
        <li ng-class="nowLikesIsMutual ? 'active'  : ''" ng-click="switchLikes(true)"><a>Взаємні</a></li>
    </ul>
    <div class="row userRow" ng-repeat="user in nowLikes">
        <div class="col-xs-3 col-useravatar">
            <img class="useravatar" src="{{ user.avatar }}">
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12"><h4 class="username">{{ user.name }}</h4></div>
                <div class="col-xs-12"><h5 class="userinfo">{{ user.city }}, {{ user.years }}</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 text-center">
            <button ng-click="loadMoreLikes()" class="btn btn-default">Завантажити ще...</button>
        </div>
    </div>
</div>