<ng-include src="'/my-app/templates/header.html'"></ng-include>
<div class="container">
    <div class="row page-title">
        <h2><span class="glyphicon glyphicon-list-alt"></span> Моя анкета</h2>
    </div>
</div>
<iframe src="{{ '/pages/profile?token=' + getToken() }}" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>

