<div id="welcome-container">
    <header id="header">
        <div class="container-fluid">
            <div class="row header-row">
                <div class="col-md-4 col-xs-12 title-column">
                    <img class="logo" src="/images/logo.png">
                    <h1 class="site-name">eDates</h1>
                </div>
                <div class="col-md-offset-4 col-md-4 col-xs-12 share-buttons-column">
                    <a href="http://www.facebook.com/sharer.php?u=http://kursa4.my/" target="_blank">
                        <img class="share-button" src="https://simplesharebuttons.com/images/somacro/facebook.png"
                             alt="Facebook"/>
                    </a>
                    <a href="http://vkontakte.ru/share.php?url=https://simplesharebuttons.com" target="_blank">
                        <img class="share-button" src="https://simplesharebuttons.com/images/somacro/vk.png" alt="VK"/>
                    </a>
                    <!-- Twitter -->
                    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons"
                       target="_blank">
                        <img class="share-button" src="https://simplesharebuttons.com/images/somacro/twitter.png"
                             alt="Twitter"/>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-6 col-md-offset-1 col-site-definition">
                <h3 class="site-definition">Безкоштовні знайомства</h3>
            </div>
            <div class="col-md-5 col-md-offset-1 col-md-pull-6 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="panel panel-info" id="auth-box">
                    <div class="panel-heading">
                        <div class="row text-center">
                            <div class="col-xs-6 col-sign-in" onclick="$('#login').show();$('#register').hide()">Вхід
                            </div>
                            <div class="col-xs-6 col-sign-up" onclick="$('#register').show();$('#login').hide()">
                                Реєстрація
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="login" style="display:none">
                        <form id="loginform" class="form-horizontal" role="form">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" ng-model="loguser.email" name="email" placeholder="E-mail">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" ng-model="loguser.password" name="password" placeholder="Пароль">
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="button" id="btn-login" ng-click="login()" class="btn btn-success">Увійти</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-body" id="register">
                        <form id="signupform" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Ім'я</label>
                                <div class="col-md-9">
                                    <input id="name" type="text" class="form-control" name="name" ng-model="reguser.name" placeholder="Андрій">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Ви</label>
                                <div class="col-md-9">
                                    <label class="radio-inline"><input ng-model="reguser.sex" type="radio" value="1" name="optradio">Хлопець</label>
                                    <label class="radio-inline"><input ng-model="reguser.sex" type="radio" value="0" name="optradio">Дівчина</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="col-md-3 control-label">Дата народження</label>
                                <div class="col-md-9">
                                        <input type="date" class="form-control" id="birthday" name="input" ng-model="reguser.birth_date" style="color: #555"
                                           placeholder="yyyy-MM-dd" min="1900-01-01" max="2002-12-12" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cities" class="col-md-3 control-label">Місто</label>
                                <div class="col-md-9">
                                        <select id="cities" ng-model="reguser.city"  class="form-control selectpicker" data-live-search="true"
                                                ng-options="item.name as item.name for item in cities.data">
                                        </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="reguser.email" id="email" class="form-control" name="email"
                                           placeholder="user@gmail.com" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">Пароль</label>
                                <div class="col-md-9">
                                    <input ng-model="reguser.password" type="password" id="password" class="form-control" name="password"
                                           placeholder="*******">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button id="btn-signup" type="button" ng-click="register()" class="btn btn-info"><i
                                            class="icon-hand-right"></i> &nbsp Зареєструватись
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>